.Add_btn {
    font: inherit;
    padding: 0.5rem 1rem;
    background: #f67722;
    border: 1px solid #f67722;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
  }
  